In [24]:
import numpy as np
import pandas as pd

from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
heart = fetch_openml(data_id=53, as_frame=True)
df = heart.frame

In [20]:
heart_df = pd.DataFrame(heart.data , columns=heart.feature_names)
heart_df.isnull().sum()
heart_df.dtypes

age                                       int64
sex                                       int64
chest                                     int64
resting_blood_pressure                    int64
serum_cholestoral                         int64
fasting_blood_sugar                       int64
resting_electrocardiographic_results      int64
maximum_heart_rate_achieved               int64
exercise_induced_angina                   int64
oldpeak                                 float64
slope                                     int64
number_of_major_vessels                   int64
thal                                      int64
dtype: object

In [9]:
heart_df['target'] = heart.target
heart_df.head()

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal,target
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,present
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,absent
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,present
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,absent
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,absent

In [ ]:
# Test/Train Split

X_train, X_test, y_train, y_test = train_test_split(heart_df.drop(columns=['target']), heart_df['target'],test_size=0.2, random_state=42)

In [16]:
X_train.head(5)

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
115,49,0,2,134,271,0,0,162,0,0.0,2,0,3
33,59,1,4,170,326,0,2,140,1,3.4,3,0,7
184,53,1,3,130,246,1,2,173,0,0.0,1,3,3
142,50,1,3,140,233,0,0,163,0,0.6,2,1,7
197,54,0,3,110,214,0,0,158,0,1.6,2,0,3

In [17]:
y_train.sample(5)

207     absent
26      absent
235    present
260     absent
97     present
Name: target, dtype: category
Categories (2, object): ['absent', 'present']

In [21]:
#As there is no missing values we wont able to apply imputers also all dtypes of columns are numerical as we are also not able to apply OHE or OE

In [32]:
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
acc = accuracy_score(y_test,y_pred)
print("Test Accuracy:", acc)

Test Accuracy: 0.9259259259259259

/Users/shushantkumartiwar/Music/100_days_machine_learning/venv/lib/python3.9/site-packages/sklearn/linear_model/_linear_loss.py:200: RuntimeWarning: divide by zero encountered in matmul
  raw_prediction = X @ weights + intercept
/Users/shushantkumartiwar/Music/100_days_machine_learning/venv/lib/python3.9/site-packages/sklearn/linear_model/_linear_loss.py:200: RuntimeWarning: overflow encountered in matmul
  raw_prediction = X @ weights + intercept
/Users/shushantkumartiwar/Music/100_days_machine_learning/venv/lib/python3.9/site-packages/sklearn/linear_model/_linear_loss.py:200: RuntimeWarning: invalid value encountered in matmul
  raw_prediction = X @ weights + intercept
/Users/shushantkumartiwar/Music/100_days_machine_learning/venv/lib/python3.9/site-packages/sklearn/linear_model/_linear_loss.py:330: RuntimeWarning: divide by zero encountered in matmul
  grad[:n_features] = X.T @ grad_pointwise + l2_reg_strength * weights
/Users/shushantkumartiwar/Music/100_days_machine_learning/venv/lib/python3.9/site-packages/sklearn/linear_model/_linear_loss.py:330: RuntimeWarning: overflow encountered in matmul
  grad[:n_features] = X.T @ grad_pointwise + l2_reg_strength * weights
/Users/shushantkumartiwar/Music/100_days_machine_learning/venv/lib/python3.9/site-packages/sklearn/linear_model/_linear_loss.py:330: RuntimeWarning: invalid value encountered in matmul
  grad[:n_features] = X.T @ grad_pointwise + l2_reg_strength * weights
/Users/shushantkumartiwar/Music/100_days_machine_learning/venv/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [31]:
import pickle

pickle.dump(lr,open('models/heart.pkl','wb'))